<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645532537843-okilna554muu7dsnil9trq9aafou5sna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645532537843-okilna554muu7dsnil9trq9aafou5sna</string>
	<key>API_KEY</key>
	<string>AIzaSyBqP6xFZtRNcu1Ib-pPrrqmEs4BeEAx5J0</string>
	<key>GCM_SENDER_ID</key>
	<string>645532537843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.layoutProject</string>
	<key>PROJECT_ID</key>
	<string>layoutproject-74437</string>
	<key>STORAGE_BUCKET</key>
	<string>layoutproject-74437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645532537843:ios:990ce16bdcbda539a53886</string>
</dict>
</plist>